.container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
   
  }
  
  .homepage-header {
    flex: 1; 
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;

  }
  
  .homepage-body {
    flex: 9; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/background.webp'); 
    background-size: cover; 
    background-position: center; 
  }
  
  .homepage-title {
    font-weight: bolder;
    text-align: center;
    color: #006AFF;
    font-size: 40px;
    margin-top: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif
  }
  
  
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  
  .search-bar {
    border: none;
    padding: 10px 40px 10px 20px; 
    border-radius: 4px;
    width: 600px; 
    height: 55px;
    font-size: 18px;
  }
  
  .search-icon {
    position: absolute;
    right: 20px;
    color: #006AFF; 
  }
    
  
  .ahs-locator {
    font-weight: bold; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #006AFF;
    font-size: 20px;
    /* margin-right: auto;
    margin-left: 297px; */
    
  }
  
  
  .sign-in-link {
    text-decoration: none; 
    color: black; 
    font-size: 18px;
  }
  
  .sign-in-link:hover, .link:hover {
    color: #006AFF; 
  }
  
  
  
  .link {
    text-decoration: none; 
    color: black; 
    font-size: 18px;
   
  }
  
  /* .link1{
    margin-left: 30px;
  } */
  
  span {
    cursor: pointer 
  }
  