.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
    justify-content: center;
    align-items: center;
  }
  
  .custom-modal.open {
    display: flex; 
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px; 
    height: 450px
  }
  
  .modal-header {
    display: flex;
    margin-bottom: 20px;
  }
  
  .modal-welcome {
    margin-left: 50px;
    margin-top: 25px;
    font-weight: 550;
  }
  
  form {
    margin-top: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 95%;
    height: 25px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #006AFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .create-account__link, .signin-btn__link{
   font-weight: bold;
  }


  .create-account__link:hover, .signin-btn__link:hover {
    text-decoration: underline;
    color: #0056b3;
  }

  .password__validation {
    font-size: x-small;
    text-align: left;
  }

  label {
    text-align: left;
  }

  .close-button {
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin-left: auto;
    background-color: transparent;
    border-radius: 50%;
    height: 43px;
    width: 43px;
   
  }

  .close-button:hover {
    background-color: rgba(195, 189, 189, 0.3);
    transition: background-color 0.3s ease;
    }